@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "reset.scss";

$ff: "Roboto Condensed";
$fs: 1.25em;

$page: 1170px;

@mixin horizontal-list($color: black, $style: none, $mg: 10px) {
    display: inline;
    list-style: $style;
    li {
        color: $color;
        display: inline;
        margin: 0 $mg 0 0;
    }
    a {
        color: $color;
    }
}

body {
    font-family: $ff;
}

h3 {
    font-size: $fs * 1.5;
    letter-spacing: 1.8px;
    font-weight: 500;

    @media (max-width: 400px) {
        font-size: $fs;
    }
}

.content {
    font-family: $ff;
    font-size: $fs;
    transition: all 0.2s ease 0s;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 90%;
    margin: 20px auto;
}

.breadcrumbs {
    font-size: $fs;
    background: beige;
    padding: 10px;
    ul {
        @include horizontal-list($color: gray);
        font-style: italic;
        font-weight: 300;

        li {
            &::after {
                content: "/";
                margin: 0 20px;
                color: black;

                @media (max-width: 400px) {
                    margin: 0 10px;
                }
            }
            &:last-child::after {
                content: "";
            }
            &:last-child a {
                color: black;
                font-weight: 400;
            }
            &:hover a {
                color: darkorange;
            }
            @media (max-width: 400px) {
                margin: 0 0 5px 0;
            }
        }
    }
    @media (max-width: 400px) {
        font-size: 18px;
    }
}

.cards {
    flex: 1 1 80%;
    overflow: visible;
    display: flex;
    align-items: center;
    font-size: 1.1em;

    @media (max-width: 400px) {
        p,
        a {
            font-size: 0.8em;
        }
    }
}

.cards .container {
    display: flex;
    column-gap: 30px;
    align-items: center;
    @media (max-width: 740px) {
        flex-direction: column;
        row-gap: 30px;
    }
    margin: 20px auto;
}

.card,
.profile {
    flex: 1 1 auto;
    box-shadow: 0 0.5px 10px rgb(224, 224, 224);
    @media (max-width: 740px) {
        max-width: 100%;
    }
    &__wrapperimg {
        max-height: 250px;
        overflow: hidden;
        margin: 0 0 10px 0;
    }
    &__image {
        min-width: 100%;
        object-fit: cover;
    }

    &__info {
        padding: 10px;
    }

    &__title {
        margin: 0 0 15px 0;
    }

    &__text {
        margin: 0 0 15px 0;
    }

    &__buttons {
        display: flex;
        column-gap: 10px;
    }

    &__button {
        flex: 1 1 auto;
    }

    span.icon {
        display: inline-block;
        max-width: 18px;
        margin: 0 5px 0 0;

        img {
            max-width: 100%;
        }
    }

    &__links {
        li {
            line-height: 1.25;
            @media (max-width: 400px) {
                line-height: 1;
            }

            margin: 0 0 5px 0;
            a {
                position: relative;
                top: -2.5px;
                left: 0;
            }
        }
        margin: 20px 0 10px 0;
    }
}

.button-primary {
    padding: 8px;
    text-align: center;
    background: beige;
    display: block;
    color: black;
    font-size: $fs;
    transition: all 0.1s ease 0s;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover {
        color: darkorange;
    }
}

footer {
    background: beige;
}

.footer__row {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: $fs;

    @media (max-width: 600px) {
        font-size: 14px;
    }

    @media (max-width: 400px) {
        font-size: 12px;
    }
}

.footer__row .pagination {
    display: flex;
    column-gap: 20px;
    justify-self: center;
    margin: 0 auto;
}

.link-primary {
    color: black;
    letter-spacing: 1.2px;
    position: relative;

    &:hover {
        color: darkorange;
    }
}

.detail-row {
    display: flex;
    width: $page;
    margin: auto;
    column-gap: 30px;
    min-height: 100%;

    @media (max-width: 1200px) {
        flex-direction: column;
        width: 90%;
    }

    @media (max-width: 400px) {
        margin: 50px auto;
    }
}

.profile-container {
    .profile {
        max-width: 100%;
    }
}

.reviews {
    max-width: $page;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.review {
    background: beige;
    padding: 15px;
    display: flex;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &__info {
        display: flex;
        column-gap: 10px;
        margin: 0 0 10px 0;
    }

    &__left {
        display: flex;
        column-gap: 15px;
    }

    &__text {
        @media (max-width: 400px) {
            font-size: 14px;
        }
    }
}

.rating {
    &__star {
        display: inline-block;
        width: 30px;
        height: 30px;

        @media (max-width: 400px) {
            width: 25px;
            height: 25px;
        }
        background: rgb(211, 211, 211);

        &::after {
            content: "";
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            justify-content: center;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("icons/star.svg") center/20px no-repeat;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(353deg) brightness(102%)
                contrast(102%);

            @media (max-width: 400px) {
                background-size: 15px;
                width: 15px;
                height: 15px;
                transform: translate(-50%, -50%);
            }
        }
        &_active {
            background: rgb(82, 154, 82);
        }
    }
}

.form {
    margin: 20px 0;
    padding: 10px;
    display: block;
    background: beige;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__top {
        margin: 0 0 10px 0;
    }

    &__info {
        min-width: 100%;
        display: flex;
        input {
            margin: 0 10px 10px 0;
            flex: 1 1 auto;
        }
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    textarea {
        flex: 1 1 100%;
        width: 100%;
        margin: 0 0 10px 0;
    }
}

input,
textarea {
    border-radius: 5px;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 20px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    background: darkorange;
    &:hover {
        color: white;
    }
}

.rating {
    &_form {
        display: inline-flex;
        flex-direction: row-reverse;
        column-gap: 5px;
        @media (max-width: 500px) {
            column-gap: 3px;
        }
        input {
            cursor: pointer;
            appearance: none;
            &:checked ~ .rating__star,
            &:checked {
                background: rgb(82, 154, 82);
            }
        }
    }
}
