{%load static %}
<div class="card">
    <div class="card__wrapperimg"><img src="{{ author.avatar.url }}" alt="{{ author.name }}" class="card__image"></div>
    <div class="card__info">
        <h3 class="card__title">{{ author.name }}</h3>
        <p class="card__text text-primary">{{ author.bio|linebreaks }}</p>
        <ul class="card__links">
            {% for link in author.links.all %}
                <li>
                    <span class="icon">
                        <img src="{% static 'images/logos/'|add:link.get_icon_url %}" alt="">
                    </span>
                    <a class='link-primary' target='_blank' href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="card__buttons">
            {% if text != 'form' %}
                <a href="{% if not text %}{% url 'rate:author_detail' author.id %}{% else %}{% url 'rate:review_write' author.id %}{% endif %}" class="card__button button-primary">{% if not text %}More{% else %}{{ text }}{% endif %}</a>
            {% endif%}
            {% if author.allow_mail and text != 'form' %}
                <a href="{% url 'rate:author_write' author.id %}" class="card__button button-primary">Send email</a>
            {% endif %}
        </div>
    </div>
</div>