{% extends 'rate/base.html' %}

{% block title %}{{ author.name }}{% endblock title %}

{% block content %}
    <div class="content">
        {% include 'rate/include/header.html' with depth=2 author=author %}
        <div class="detail-row">
            <div class="profile-container">
                {% include 'rate/author/include/card.html' with author=author text='Write review' %}
            </div>
            <div class="reviews">
                {% if reviews %}
                    <h3>Rating: {{ author.get_rating }}</h3>
                {% endif%}
                {% for review in reviews %}
                    {% include 'rate/review/include.html' with review=review %}
                {% empty %}
                    <h3>No reviews yet</h3>
                {% endfor %}
            </div>
        </div>
        {% include "rate/include/footer.html" with page_obj=reviews %}
    </div>

{% endblock content %}