{% extends 'rate/base.html' %}

{% block title %}Rateus{% endblock title %}

{% load static %}
{% block content %}
    <div class="content">
        {% include 'rate/include/header.html' with depth=1 %}
        <div class="cards">
            <div class="container">
                {% for author in authors %}
                    {% include "rate/author/include/card.html" with author=author %}
                {% empty %}
                    <h3 style="margin: 0 auto;">Empty :/</h3>
                {% endfor %}
            </div>
        </div>
        {% include "rate/include/footer.html" with page_obj=page_obj %}
    </div>
{% endblock content %}